<%= form_with model: task do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @task.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %><br>
    <% @task.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

    <div>
    <%= form.label :due_date %><br>
    <%= form.datetime_field :due_date %>
    <% @task.errors.full_messages_for(:due_date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :priority %><br>
    <%= form.select :priority, options_for_select(Task.priorities.map { |k, v| [k.capitalize, v] }), {}, { id: 'priority' } %>
    <% @task.errors.full_messages_for(:priority).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :status %><br>
    <%= form.select :status, options_for_select(Task.statuses.map { |k, v| [k.capitalize, v] }), {}, { id: 'status' } %>
    <% @task.errors.full_messages_for(:priority).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>