<%= form_with model: task do |form| %>
  <div class="mb-3">
    <%= form.label :title, class: "form-label" %><br>
    <%= form.text_field :title, class: "form-control", required: true %>
    <% @task.errors.full_messages_for(:title).each do |message| %>
      <div class="invalid-feedback"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %><br>
    <%= form.text_area :description, class: "form-control", required: true %><br>
    <% @task.errors.full_messages_for(:description).each do |message| %>
      <div class="invalid-feedback"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :due_date, class: "form-label" %><br>
    <%= form.datetime_field :due_date, class: "form-control" %>
    <% @task.errors.full_messages_for(:due_date).each do |message| %>
      <div class="invalid-feedback"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :priority, class: "form-label" %><br>
    <%= form.select :priority, options_for_select(Task.priorities.map { |k, v| [k.capitalize, v] }), {}, { id: 'priority', class: 'form-select' } %>
    <% @task.errors.full_messages_for(:priority).each do |message| %>
      <div class="invalid-feedback"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :status, class: "form-label" %><br>
    <%= form.select :status, options_for_select(Task.statuses.map { |k, v| [k.capitalize, v] }), {}, { id: 'status', class: 'form-select' } %>
    <% @task.errors.full_messages_for(:status).each do |message| %>
      <div class="invalid-feedback"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :estimate, class: "form-label" %><br>
    <%= form.select :estimate, 
      [['15 minutes', 15.minutes], ['30 minutes', 30.minutes],
      ['1 hour', 1.hour], ['2 hours', 2.hours],
      ['3 hours', 3.hours], ['4 hours', 4.hours], ['8 hours', 8.hours]], 
      {}, 
      { class: 'form-select' } %>
    <% @task.errors.full_messages_for(:estimate).each do |message| %>
      <div class="invalid-feedback"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= link_to "Cancel", tasks_path, class: "btn btn--light" %>
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>