<%= turbo_frame_tag task, class: "tr" do%>
  <div class="td">
    <%= link_to task.title, task %>
  </div>
  <div class="td">
    <%= task.status %>
  </div>
  <div class="td">
    <%= task.priority %>
  </div>
  <div class="td">
    <% if task.estimate.present? %>
      <%= distance_of_time_in_words(Time.now, Time.now + task.estimate.seconds) %>
    <% end %>
  </div>
  <div class="td">
    <% if task.due_date.present? %>
      <%= task.due_date.in_time_zone('Africa/Johannesburg').strftime("%Y-%b-%d %I:%M%p") %>
    <% end %>
  </div>
  <div class="td">
    <%= link_to "Edit", edit_task_path(task),data: {turbo_frame: task} ,class: "btn btn-secondary" %>
  </div>
  <div class="td">
    <%= link_to "Destroy", task_path(task),class: "btn btn-secondary" , data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
<%end%>