<!DOCTYPE html>
<html>
<head>
  <% if user_signed_in? %>
    <div>
      <%= link_to user_avatar(current_user.first_name) , show_user_registration_path%>
      <%= link_to "Home", root_path %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </div>
    <% else %>
    <% end %>
  <p class="h4">Task Manager</p>
</head>
<body>
  <br>
  <div id="search-box">
    <%= form_tag(tasks_path, method: "get", class: "container") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search" %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div>
    <br>
    <%= link_to "High priority to do tasks", highpriority_tasks_path, class: "task-links" %>
  </div>
  <br>
  <div><h4>Tasks</h4></div>
    <div data-controller="tasks">
      <div class="mb-3">

     <div id="search-box">
    <%= form_tag(tasks_path, method: "get", class: "container") do %>
    <%= select_tag :status, options_for_select([['all', ''], ['To do', 0], ['In progress', 1], ['Complete', 2]])%>
    <%= submit_tag "filter", class: "btn btn-secondary" %>
    <% end %>
  </div>
      
    </div>


      <div id=table>
          <%= render partial: 'task_rows', locals: { tasks: @tasks } %>
      </div>
  <div>
    <%=turbo_frame_tag "form-task-frame" do%>
      <%= link_to "New Task", new_task_path, class: "bottom-task" %>
    <%end%>
   </div>
    <%= paginate @tasks,  class: "pagination"%>
</body>
</html>
