<!DOCTYPE html>
<html>
<head>
  <% if user_signed_in? %>
    <div>
      <%= link_to user_avatar(current_user.first_name) , show_user_registration_path%>
      <%= link_to "Home", root_path %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </div>
    <% else %>
    <% end %>
  <p class="h4">Task Manager</p>
</head>
<body>
  <br>
  <div id="search-box">
    <%= form_tag(tasks_path, method: "get", class: "container") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search" %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div>
    <br>
    <%= link_to "High priority to do tasks", highpriority_tasks_path, class: "task-links" %>
  </div>
  <br>
    <div data-controller="tasks">
      <div class="mb-3">
        <div class="col-auto my-1">
        <%= form_tag(tasks_path, method: "get" ,class: "form-select form-select-lg mb-3",id: "status_filter_form") do %>
          <%= select_tag :status, options_for_select([['all', ''], ['To do', 0], ['In progress', 1], ['Complete', 2]]), prompt: 'Select status', onchange: "submitForm()"%>
        <% end %>
        </div>   
      </div>


      <div id=table>
        <%= render partial: 'task_rows', locals: { tasks: @tasks } %>
      </div>
        <%= turbo_frame_tag Task.new%>
  <div>
    
      <%= link_to "New Task", new_task_path,
       class: "btn btn-primary",
       data: { turbo_frame: dom_id(Task.new) }
       %>
   </div>
    <%= paginate @tasks,  class: "pagination"%>
</body>
<script>
  function submitForm() {
    document.getElementById("status_filter_form").submit();
  }
</script>
</html>
