<!DOCTYPE html>
<html>
<head>
  <!-- Your head content goes here -->
  <%= link_to "Home", root_path %>
  <% if user_signed_in? %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% else %>
    <% end %>
  <%= current_user.email%>
  <h1>Task Manager</h1>
</head>
<body>
  <div>
    <%= form_tag(tasks_path, method: "get", class: "container") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search" %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div>
    
    
    
    <%= link_to "High priority to do tasks", highpriority_tasks_path, class: "task-links" %>
  </div>
 
  <div><h3>Tasks</h3></div>
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <%= link_to "To do Tasks", todo_tasks_path, class: "task-links"%>
      <ul>
      <% @tasks.each do |task| %>
        <% if task.status == 'todo' %>
          <li>
            <%= link_to task.title, task %>
          </li>
        <% end %>
      <% end %>
    </ul>
    
    </div>
    <div class="col-xs-6 col-sm-4"> 
      <%= link_to "In progress Tasks", inprogress_tasks_path, class: "task-links"%>
      <ul>
      <% @tasks.each do |task| %>
        <% if task.status == 'inprogress' %>
          <li>
            <%= link_to task.title, task %>
          </li>
        <% end %>
      <% end %>
    </ul>
    </div>
  
    <div class="col-xs-6 col-sm-4">
        <%= link_to "Complete Tasks", complete_tasks_path, class: "task-links" %>
        <ul>
      <% @tasks.each do |task| %>
        <% if task.status == 'complete' %>
          <li>
            <%= link_to task.title, task %>
          </li>
        <% end %>
      <% end %>
    </ul>
    </div>
  </div>

  <div>
    <%= link_to "New Task", new_task_path, class: "bottom-task" %>
    <%= paginate @tasks %>
   </div>
</body>
</html>
