<!DOCTYPE html>
<html>
<head>
  <% if user_signed_in? %>
    <div>
      <%= link_to user_avatar(current_user.first_name) , show_user_registration_path%>
      <%= link_to "Home", root_path %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  </div>
    <% else %>
    <% end %>
</head>
<body>
  <br>
  <div class="container-fluid">
    <%= form_tag(tasks_path, method: "get", class: "form-inline my-2 my-lg-0") do %>
    <%= text_field_tag :search, params[:search], class: "form-control mr-sm-2", placeholder: "Search" %>
    <%= submit_tag "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
    <% end %>
  </div>
 
  <h2>In Progress Tasks</h2>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= link_to task.title, task %>
      </li>
    <% end %>
  </ul>
   <%= paginate @tasks %>
</body>
</html>