<!DOCTYPE html>
<html>
<head>      
  <div>
  <%= link_to user_avatar(current_user.first_name) , show_user_registration_path%>
  <%= link_to "Home", root_path %>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  </div>
</head>
<body>
  <h4>New Task</h4>
  <%= turbo_frame_tag @task do%>
    <%= render "form", task: @task %>
  <%end%>
</body>