<!DOCTYPE html>
<html>
<head>      
  <div>
  <%= link_to user_avatar(current_user.first_name) , show_user_registration_path%>
  <%= link_to "Home", root_path %>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  </div>
</head>
<body>
  <%=turbo_frame_tag "task_frame" do%>
  <h3><%= @task.title %></h3>

  <p><em style="color: black;">Description: </em><%= @task.description %></p>

  <p><em style="color: black;">Due date: </em><%= @task.due_date.in_time_zone('Africa/Johannesburg').strftime("%Y-%b-%d %I:%M%p") %></p>

  <p style="color: green;"><em style="color: black;">priority: </em><%= @task.priority %></p>

  <p style="color: blue;"><em style="color: black;">status: </em><%= @task.status %></p>
  <%if @task.estimate != nil%>

  <p style="color: red;"><em style="color: black;">estimate: </em><%=distance_of_time_in_words(Time.now, Time.now + @task.estimate.seconds) %></p>
  <%end%>

  <ul>
    <li><%= link_to "Edit", edit_task_path(@task) %></li>
    <li><%= link_to "Destroy", task_path(@task), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %></li>
    <li><%= link_to "New task", new_task_path %></li>
  </ul>
  <%end%>
</body>
